:root {
    --preto: #111;
    --branco: #FFF;
    --cinza-claro: #CACDD1;
    --verde-escuro: #044421;
    --verde-claro: #49F55C;
    --azul: #49AAF5;
    --azul-claro: #49E0F5;
}

body#principal {
    font-family: Verdana, sans-serif;
	font-size: 62.5%;
    background: var(--cinza-claro);
}

#top-section {
    background: var(--verde-escuro);
    color: var(--branco);
    height: 24vh;
    margin: 15px 0 0 0;
    padding: 25px 25px;
    border-radius: 0px 25px 0px 25px;
}

#top-section h1,
#top-section h2 {
    text-transform: capitalize;
    font-size: 4.5em;
    margin: 14px 0;
}

#botton-section {
    background: var(--branco);
    color: var(--preto);
    height: 60vh;
    margin: 15px 0 0 0;
    padding: 25px 25px;
    border-radius: 25px 0px 25px 0;
}

#botton-section .btn-deposito,
#botton-section .btn-saque,
#form-section .btn-deposito,
#form-section .btn-saque {
    width: 9.5em;
    text-transform: uppercase;
    color: var(--preto)
}

#botton-section .btn-deposito,
#form-section .btn-deposito {
    background: var(--azul);
}

#botton-section .btn-deposito:hover,
#form-section .btn-deposito:hover {
    background: var(--azul-claro);
}

#botton-section .btn-saque,
#form-section .btn-saque {
    background: var(--verde-claro);
}

#botton-section .btn-saque:hover,
#form-section .btn-saque:hover {
    background: var(--azul);
}

#buttons-section {
    padding: 15px 0;
    margin: 15px 0 0 0;
}

#buttons-section div {
    margin: 15px auto;
}

#form-section label {
    font-size: 1.8em;
    margin: 0;
}
